<?xml version="1.0" ?>
<launch>


  <group ns="human_detection">
    <param name="topic_external_wrench" value="/lwr/ee_ft"/>
    <param name="topic_human_wrench" value="/admittance/human_wrench"/>
    <!-- <rosparam command="load" file="$(find ds_admittance_control)/config/polishing_init_param.yml"/>    -->
    <node name="human_detection" pkg="ds_admittance_control" type="human_detection_node" output="screen"/>
  </group>

  <node name="reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" output="screen" />

</launch>